<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="pragram" content="no-cache">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="baidu-site-verification" content="code-1He5ojNZAn" />
    <meta name="keywords" content="票圈 视频剪辑 视频编辑 在线视频制作 图文转视频 视频制作 长视频 票圈视频"/>
    <meta name="description" content="票圈视频表达工具是一款简单易用，且功能强大的视频剪辑编辑软件，视频支持快速合并，文字语音智能朗读，自动智能匹配素材。并拥有丰富的视频素材、图片素材和音频素材等。可以支持无限添加素材，字幕、图文等。是视频制作用户软件中的不二之选。票圈视频-用视频发声。"/>
    <meta name="referrer" CONTENT="no-referrer">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="https://icezero2012.github.io/dev/">
    <meta name="twitter:title" content="郭德纲 于谦《我要得奖》 |《德云斗笑社S2》">
    <meta name="twitter:description"
          content="【播出时间】▶▶▶周日/二 20:00更新【欢迎订阅】▶▶▶https://bit.ly/wetvshow【德云斗笑社S2】▶▶▶https://bit.ly/3jc2f3b《德云斗笑社S2》解密中国传统相声团体的真人秀节目。德云社的青年相声演员们走出舒适圈，与生活中的热点接轨。◆ 出演嘉宾: 郭德纲、于谦、岳云...">
    <meta name="twitter:image" content="https://i.ytimg.com/vi/7LpAYFsI6yE/maxresdefault.jpg">
    <meta name="twitter:image:width" content="1280">
    <meta name="twitter:image:height" content="720">

    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>票圈视频 - 在线图文转视频_视频创作剪辑工具【官网】</title>
  </head>
  <body>
    dev
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=307f38b83b3082d262386b04cc1cd357"></script>
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?7f5c31e86e4cc8a706f7b3957d81f353";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
  </body>
</html>
